@use 'variable';

// Weight
.font-regular {
  font-weight: 400;
  line-height: 1.4;
}

.font-bold {
  font-weight: 700;
  line-height: 1.4;
}

// Size
$font-sizes: [ 40, 32, 28, 24, 20, 18, 16, 14];

@each $size in $font-sizes {
  .font-size-#{$size} {
    font-size: $size + px;
  }
}

// Color
.text-w1 {
  color: variable.$w1;
}

// Align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Design System Class
.text-h1 {
  @extend .font-regular;
  @extend .font-size-28;
}

.text-h1b {
  @extend .font-bold;
  @extend .text-h1;
}

.text-h2 {
  @extend .font-regular;
  @extend .font-size-24;
}

.text-h2b {
  @extend .font-bold;
  @extend .text-h2;
}

.text-body1 {
  @extend .font-regular;
  @extend .font-size-16;
}

.text-body1b {
  @extend .font-bold;
  @extend .text-body1;
}
