@use 'variable';

// Weight
.font-regular {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Microsoft Sans Serif", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  @extend .text-b80;
}

.font-bold {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Microsoft Sans Serif", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  @extend .text-b80;
}

// Size
$font-sizes: [ 40, 32, 28, 24, 20, 18, 16, 14, 12];

@each $size in $font-sizes {
  .font-size-#{$size} {
    font-size: $size + px;
  }
}

// Color
.text-b100 {
  color: variable.$b100;
}

.text-b90 {
  color: variable.$b90;
}

.text-b80 {
  color: variable.$b80;
}

.text-b70 {
  color: variable.$b70;
}

.text-b50 {
  color: variable.$b50;
}

.text-b35 {
  color: variable.$b35;
}

.text-b20 {
  color: variable.$b20;
}

.text-b15 {
  color: variable.$b15;
}

.text-b10 {
  color: variable.$b10;
}

.text-b5 {
  color: variable.$b5;
}

.text-b3 {
  color: variable.$b3;
}

.text-b2 {
  color: variable.$b2;
}

.text-p1 {
  color: variable.$p1;
}

.text-w1 {
  color: variable.$w1;
}

.text-g1 {
  color: variable.$g1;
}

.text-g2 {
  color: variable.$g2;
}

.text-g3 {
  color: variable.$g3;
}

.text-g4 {
  color: variable.$g4;
}

.text-r1 {
  color: variable.$r1;
}

.text-r2 {
  color: variable.$r2;
}

// Align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Design System Class
.text-h1 {
  @extend .font-regular;
  @extend .font-size-28;
}

.text-h1b {
  @extend .font-bold;
  @extend .text-h1;
}

.text-h2 {
  @extend .font-regular;
  @extend .font-size-24;
}

.text-h2b {
  @extend .font-bold;
  @extend .text-h2;
}

.text-h3 {
  @extend .font-regular;
  @extend .font-size-20;
}

.text-h3b {
  @extend .font-bold;
  @extend .text-h3;
}

.text-h4 {
  @extend .font-regular;
  @extend .font-size-18;
}

.text-h4b {
  @extend .font-bold;
  @extend .text-h4;
}

.text-body1 {
  @extend .font-regular;
  @extend .font-size-16;
}

.text-body1b {
  @extend .font-bold;
  @extend .text-body1;
}

.text-body2 {
  @extend .font-regular;
  @extend .font-size-14;
}

.text-body2b {
  @extend .font-bold;
  @extend .text-body2;
}

.text-body3 {
  @extend .font-regular;
  @extend .font-size-12;
}

.text-body3b {
  @extend .font-bold;
  @extend .text-body3;
}
